@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    box-sizing: border-box;
}

body {
	padding-top: 50px;
}

code {
    font-family: 'Anonymous Pro',;
    color: #181818;
    background-color: #F0F8FF;
}

nav {
  height: 100px;
  background-color: #FFF;
}

.jumbotron {
  margin-top: 100px;
  color: #333;
  background-color: #E74C3C;
}

.jumbotron h2 {
  color: #f5f5f5;
}

.jumbotron hr {
  border-top: 1px solid #fff;
}

footer {
	margin: 50px 0;
}

#display-listings {
    margin: 10px;
}

.listing-title h2 {
	margin-bottom: 0px;
}
